<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="RhapsodySocialBundle Test Suite">
            <directory>./Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./</directory>
            <exclude>
                <directory>./Resources</directory>
                <directory>./Tests</directory>
            </exclude>
        </whitelist>
    </filter>

    <groups>
        <exclude>
            <group>performance</group>
        </exclude>
    </groups>

    <php>
        <const name="RHAPSODY_SOCIALBUNDLE_DOCTRINE_MONGODB_SERVER" value="mongodb://localhost:27017" />
        <const name="RHAPSODY_SOCIALBUNDLE_DOCTRINE_MONGODB_DATABASE" value="rhapsody_socialbundle_tests" />
    </php>
</phpunit>
