<div class="social-comment clearfix" style="margin-top: 10px; margin-bottom: 10px;">
	<div class="social-avatar-icon user-avatar small" style="float: left;"></div>
	<div class="social-comment-text" style="float: left;">
		<a href="">{# _widget.user #}</a>
		<span>{# _widget.text #}</span>
		<div>{# _widget.date|date('Y m d') #}</div>
	</div>
</div>