<div class="comment">
	<div class="user-avatar small"></div>

	<div class="comment-text">
		<a href="">{{ comment.user }}</a>
		<span>{{ comment.text }}</span>
		<div>{{ comment.date|date('Y m d') }}</div>
	</div>
</div>